body {
    min-width:310px;
}

#leftcol2 { /* Левая колонка */
  float: left; /* Обтекание справа */
  width: 100px; /* Ширина колонки */
  font-family: ProximaNovaCond,Arial,sans-serif;
	font-size: 20px;
}
#rightcol2 { /* Правая колонка */
  margin-left: 110px; /* Отступ слева */
  font-size: 14px;
  font-family: ProximaNovaCond,Arial,sans-serif;
	font-size: 20px;
}
.container, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
    padding-right: 5px!important;
    padding-left: 5px!important;
}


.font{
	font-size:20px;
}

.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th{
	    padding: 4px!important;

}

.tdWidth1{
	width: 120px!important;
}
.tdWidth2{
	width: 120px!important;
}


.transform{
	transform: scale(-1, -1);
}

		